<!DOCTYPE HTML PUBLIC>
<html>
  <head>
    <title>Who is doing triage today?</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.5.1"></script>
  </head>
  <body bgcolor="#FFFFFF">
    <div id="app">
      <fieldset style="border:none">
      <table align="left" class="form table" border="1px #000">
        <thead>
          <th><font size="5">Name</font></th>
          <th>Order</th>
          <th>Enabled</th>
          <th>Triage Today?</th>
        </thead>
        <tbody>
          <tr v-for="user in users" align="center">
            <td><font size="5">{{user.name}}</font></td>
            <td><input style="text-align: right;" type="text" v-model="user.order" size=4/></td>
            <td><input type="checkbox" v-model="user.enabled"></td>
            <td v-if="user.triage">YES</td>
            <td v-if="!user.triage">NO</td>
          </tr>
        </tbody>
      </table>
      </fieldset>
      <button v-on:click="updateUsers()">Save</button>
      <div name="newuser">
          <label>Name</label><input type="text" v-model="newuser.name" placeholder="Enter Name" required/><br>
          <label>Order</label><input type="text" v-model="newuser.order" placeholder="Enter Order" required/><br>
          <button v-on:click="submitNewUser()">Save</button>
      </div>
    </div>
    <script>
        Vue.use(VueResource)
        var app = new Vue({
          el: '#app',
          data: {
            users: [],
            newuser: {},
          },
          methods: {
            updateUsers: function() {
              for (user in this.users) {
                this.$http.put("http://localhost:5000/api/v1/user/" + this.users[user].userid, this.users[user])
              };
              this.getUsers();
            },
            submitNewUser: function() {
              this.$http.post("http://localhost:5000/api/v1/users", this.newuser);
            },
            getUsers: function() {
              this.$http.get('http://localhost:5000/api/v1/users').then(response => {
                  this.users = response.data.users;
              });
            },
          },
        });
        app.getUsers()
      </script>
  </body>
</html>

