<!DOCTYPE HTML PUBLIC>
<html>
  <head>
    <title>Who is doing triage today?</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script>
      var app = angular.module('Triage', []);
      app.controller('Ctrl', function($scope, $http) {
        function getusers() {
          $http.get("http://localhost:5000/api/v1/users").then(function(response) {
            $scope.users = response.data.users
          });
        };
        $scope.submit = function () {
          for(user in this.users) {
            $http.put("http://localhost:5000/api/v1/users/" + this.users[user].userid, this.users[user]).success(getusers)
          }
        };
        $scope.newUser = function() {
          $http.post("http://localhost:5000/api/v1/users" , {'name': this.newuser.name, 'order': this.newuser.order}).success(getusers)
        }
        getusers();
      });
    </script>
  </head>
  <body bgcolor="#FFFFFF">
    <div ng-app="Triage" ng-controller="Ctrl">
      <div ng-form name="users">
        <fieldset style="border:none">
        <table align="left" class="form table" border="1px #000">
          <thead>
            <th><font size="5">Name</font></th>
            <th>Order</th>
            <th>Enabled</th>
            <th>Triage Today?</th>
          </thead>
          <tbody class="users">
            <tr ng-repeat="user in users" align="center">
              <td><font size="5">{{user.name}}</font></td>
              <td><input style="text-align: right;" type="text" ng-model="user.order" size=4/></td>
              <td><input type="checkbox" ng-model="user.enabled" ng-true-value=true ng-false-value=false></td>
              <td ng-if="user.triage == 1">YES</td>
              <td ng-if="user.triage != 1">NO</td>
            </tr>
          </tbody>
        </table>
        </fieldset>
        <button ng-click="submit()">Save</button>
      </div>
      <div ng-form name="newuser">
        <label>Name</label><input type="text" ng-model="newuser.name" placeholder="Enter Name" required/><br>
        <label>Order</label><input type="text" ng-model="newuser.order" placeholder="Enter Order" required/><br>
        <button ng-click="newUser()">Save</button>
      </div>
    </div>
  </body>
</html>

